body {
    margin: 5%;
    font-family: 'VT323', monospace;
    background-color: black;
  }
  
  h1, p, div {
      color: green;
  }
  
  .change {
    display: none;
    margin-top: 20px;
    font-size: 30px;
    width: 180px;
    justify-content: space-around;
    padding: 10px 0;
    border: 1px solid green;
    font-family: 'VT323', monospace;
    background: black;
    color: green;
  }
  
  h1 {
    font-size: 4vw;
  }
  
  p {
    font-size: 2.5vw;
    margin: 0;
  }
  #weather {
    font-size: 4vw;
  }
  
  .dot {
    margin-left: 10px;
    margin-bottom: -1px;
    display: inline-block;
    width: 0.2vw;
    height: 0.4vw;
    animation: pulse 1s infinite;
  }
  
  .icons {
    display: flex;
    justify-content: flex-start;
  }
  
  #icon {
    display: flex;
    width: 20px;
    height: auto;
    margin-right: 10px;
  }
  
  #tempsign {
    font-size: 120px;
    color: #00B09B;
  }
  
  @keyframes pulse {
    0% {
      background-color: green;
    }
    100% {
      background-color: black;
    }
  }

@media only screen 
  and (min-width: 320px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    h1 {
        font-size: 14vw;
      }
      
      p {
        font-size: 10vw;
        margin: 0;
      }

      #weather {
        font-size: 4vw;
      }
      
      .dot {
        margin-left: 10px;
        margin-bottom: -1px;
        width: 0.2vw;
        height: 0.4vw;
      }
}